

.wrapper {
  display: table-cell;
  vertical-align: middle; }

.form-header {
  text-align: center;
  color: white; }
  .form-header .fa {
    font-size: 48px;
    margin-bottom: 5px; }
  .form-header h1 {
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 0.3em;
    font-size: 24px; }

  .form-header h2 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0.3em;
    font-size: 20px; }

.has-feedback .form-control-feedback {
  top: 4px;
  width: 40px;
  font-size: 18px;
  color: #6fd653;
  opacity: 0; }



form.animate-form .has-feedback .form-control-feedback {
  opacity: 1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385);
  -moz-transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385);
  transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385); }
form.animate-form .form-group.has-success .form-control-feedback {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
